@font-face {
  font-family: "Lato";
  src: url("./assets/Fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Light";
  src: url("./assets/Fonts/Lato-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
}

html,
body {
  width: 100%;
  height: 100%;
}

// SignUp Page Styling

.signUpPage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  position: relative;

  background-image: url("../src/assets/RxWare_Sliding_Image_1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .overlay {
    width: 100%;
    height: 100%;
    //   border: 1px solid;
    background-color: rgba(0, 57, 118, 0.25);

    display: flex;
    .left-div {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 2vw;
      h1 {
        color: white;
        font-size: 2vw;
      }

      h3 {
        width: 50%;
        color: white;
        font-size: 1.75vw;
        font-weight: 100;
        text-align: center;
        margin-top: 2vw;
      }
    }

    .right-div {
      width: 100%;
      padding: 4vw;
      display: flex;

      align-items: center;
      justify-content: center;

      .card {
        width: 60%;
        height: 35vw;
        // boxshadow: color right/left top/bottom blur
        box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 12px,
          rgba(0, 0, 0, 0.5) -10px 10px 12px,
          rgba(0, 0, 0, 0.5) -10px -10px 12px;
        border-radius: 1vw;
        position: relative;
        background-color: white;

        display: flex;
        justify-content: center;
        align-items: center;

        .circle {
          width: 8vw;
          height: 8vw;
          border: 1px solid;
          border-radius: 100%;
          position: absolute;
          transform: translate(0%, -37.5vh);

          img {
            object-position: cover;
            width: 100%;
            height: 100%;
          }
        }

        .details {
          width: 80%;
          height: 26vw;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 1vw 0;

          gap: 1vw;

          font-family: "Lato";
          h1 {
            font-size: 1.25vw;
            span {
              color: #3aff16;
            }
          }

          .steps {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            .singleStep {
              display: flex;
              flex-direction: column;
              align-items: center;

              h1 {
                border: 1px solid;
                padding: 0.5vw 0.75vw;
                border-radius: 100%;
                background-color: #001f3f;
                color: white;
                z-index: 1;
                font-family: "Lato";
                font-size: 1vw;
              }

              .active {
                background-color: #3aff16;
                color: #001f3f;
                border: none;
              }

              P {
                margin-top: 0.5vw;
                font-size: 0.75vw;
                opacity: 0.7;
                font-weight: 500;
              }

              .activeStep {
                opacity: 1;
                color: #001f3f;
                font-weight: 600;
                scale: 1.1;
              }
            }

            .line {
              position: absolute;
              border: 1px solid;
              width: 90%;
              margin: 0 0.25vw;
              top: 30%;
            }
          }

          form {
            position: relative;
            width: 100%;
            .multi-inputs {
              width: 100%;
              display: flex;
              margin-top: 1vw;
              gap: 1vw;
            }

            .input-wrapper {
              width: 100%; //newly added
              position: relative;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              // margin-bottom: 1vw;
              margin-top: 2vw;

              .label {
                margin-bottom: 0.5vw;
                font-size: 1vw;
                font-weight: 600;
                color: black;
                background-color: white;

                width: 100%;

                display: flex;
                align-items: center;
                justify-content: flex-start;

                .imp {
                  color: red;
                  position: absolute;
                  right: 2%;
                  top: 36%;
                  z-index: 1;
                }

                .detail-pass-imp {
                  @extend .imp;
                  top: 18%;
                }
              }

              .label.email-label {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1vw;

                .imp {
                  top: 40%;
                }
              }

              .otp-label {
                @extend .label;
                justify-content: center;
              }

              .domain-input {
                margin-top: -2vw;
              }

              .otpResendTimer {
                width: 100%;
                text-align: center;
                color: red;
                font-size: 1vw;
                font-style: italic;
                font-family: "Lato-Light";
                font-weight: 600;
              }

              .otpResendLabel {
                display: block;
                font-style: italic;
                width: 100%; //newly added
                margin-top: 1vw;
                text-align: center;
                font-size: 0.75vw;
                font-weight: 800;
                font-family: "Lato-Light";
                span {
                  color: blue;
                  font-size: 1vw;
                  font-weight: 800;
                  font-family: "Lato-Light";
                }
              }

              .otp-container {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 1vw;
                margin-top: 1vw;
                margin-bottom: 1vw;
                .otp-input {
                  font-size: 0.75vw;
                  width: 12%;
                  padding: 0.75vw 0.5vw;
                  border: 1px solid #ddd;
                  border-radius: 0.5vw;
                  box-shadow: 0px 3px 2px gray;
                  outline: none;
                  transition: border-color 0.3s ease;

                  text-align: center;
                }
                .otp-input:focus {
                  border-color: #3aff16; // Change border on focus
                  box-shadow: 0 3px 2px #3aff16; // shadow on input field
                }
              }

              .input-field {
                font-size: 0.8vw;
                width: 100%; /* Full width to fit the container */
                max-width: 100%; /* Ensure it doesn’t expand beyond its container */
                padding: 0.5vw 0.5vw;
                border: 1px solid #ddd;
                border-radius: 0.25vw;
                box-shadow: 0px 0px 3px gray;
                outline: none;
                transition: border-color 0.3s ease;
                margin-bottom: 0.75vw;
                position: relative;
              }

              .input-field:focus {
                border-color: #3aff16; // Change border on focus
                box-shadow: 0 0 5px #3aff16; // shadow on input field
              }

              .input-field::placeholder {
                font-style: italic;
              }

              // new-> taken from stackoverflow {reason -> when I am testing the input field password on Edge browser its showing default eye-icon to reveal the password while typing}
              input::-ms-reveal,
              input::-ms-clear {
                display: none;
              }

              #eye-icon {
                position: absolute;
                z-index: 1;
                right: 5%;
                top: 20%;
                font-size: 1.25vw;
              }

              .validation-checklist {
                list-style: none;
                padding: 0;
                margin: 10px 0;
                font-size: 0.85rem;
              }

              .validation-checklist .pending {  //newly added to keep the validation password netural
                color: gray;
              }

              .validation-checklist .valid {
                color: green;
              }

              .validation-checklist .invalid {
                color: red;
              }

              .errorMessage {
                display: block;
                width: 100%; //updated
                max-width: 100%; //udpated
                height: 1rem; /* Reserve space for the error message */ //updated
                overflow-wrap: break-word; /* Break long words onto the next line */ //newlyadded
                font-size: 0.75vw;
                color: red;
                margin-top: 0vw; //Adjusted to look better  //udpated
                visibility: hidden; //udpated

                display: flex;
                align-items: center;
                gap: 0.25vw;
              }
              .errorMessage.active {
                visibility: visible; /* Show when error is present */
              }
            }

            // Below classes are created to adjust input-wrapper according to layout
            .input-wrapper.email-container {
              margin-top: 15%;
            }

            .input-wrapper.detail-input-wrapper {
              margin-top: 0vw;
            }

            .multi-inputs.detail-input-wrapper {
              margin-top: 0vw;
            }

            .input-wrapper.domain-input-wrapper {
              margin-top: 0vw;
            }

            .alignButton {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 1vw;
              // border: 1px solid;

              margin-top: 1.5vw;
              .button {
                font-size: 1vw;
                font-weight: 600;
                border: none;
                border-radius: 0.5vw;
                background-color: #3aff16;
                color: #001f3f;
                padding: 0.5vw 2vw;
                // margin-top: 1.5vw;
                // margin-left: 30%;

                user-select: none;
              }
              .button:active {
                scale: 0.97;
              }
            }
          }

          .page-details {
            display: flex;
            flex-direction: column;
            gap: 0.5vw;
            text-align: center;
            margin-top: 2vw;

            // border: 1px solid;
            .domain-heading {
              font-size: 1vw;
            }

            .domain-para1 {
              font-size: 0.8vw;
            }
            .domain-para2 {
              margin-top: -0.5vw;
              font-size: 0.8vw;
              font-style: italic;
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}

// Loader Screen
.csite-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #001f3f;
  color: #fff;

  .csite-content {
    width: 100vw;
    height: 100vh;
    padding: 5vw 25vw;
    text-align: center; //updated
    display: flex; //updated
    flex-direction: column; //updated
    align-items: center;
    gap: 1vw; //updated

    h2 {
      font-size: 2vw; //updated
    }

    .subtitle {
      font-size: 1.5vw;
      margin-bottom: 1.2rem;
    }

    .progress {
      width: 100%;
      .progress-bar {
        width: 100%;
        height: 20px;
        background: #fff;
        border-radius: 13px;
        overflow: hidden;

        border: 3px solid #fff;
      }

      .progress-fill {
        height: 100%;
        background-color: #3aff16;
        width: 0;
        transition: width 0.5s ease-in-out;
      }

      .progress-status-wrapper {
        width: 100%;
        margin-top: 0.5vw;
      }

      .progress-status {
        font-size: 1vw;
        color: #fff;
        text-align: right;
      }
    }

    .small-note {
      font-size: 1.5vw;
      color: #ddd;
      margin-top: 0.5rem;
    }
    .completed-status-line {
      display: flex;
      align-items: center;
      font-size: 1.5vw;
      gap: 1vw;

      .tick-icon {
        width: 1.5vw;
        height: 1.5vw;
      }
    }

    .slide-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      position: relative;

      .slide-content {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .image-slider {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .arrow {
            font-size: 24px;
            color: #fff;
            background: none;
            border: none;
            cursor: pointer;
            padding: 0 10px;
          }

          .left {
            position: absolute;
            left: 5%;
            top: 30%;
          }

          .right {
            position: absolute;
            right: 5%;
            top: 30%;
          }
          .slide-img {
            width: 30%;
            height: 30%;
            object-fit: cover;
            display: block;
          }
        }

        .slide-caption {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .slide-text {
            font-size: 28px;
            color: #eee;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            white-space: nowrap;
          }

          .slide-subtext {
            font-size: 20px;
            color: #ccc;
            margin-top: 0.3rem;
            line-height: 1.4;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }

    .dots {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      gap: 10px;
      min-height: 20px;

      .dot {
        height: 12px;
        width: 12px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.3s;
        cursor: pointer;
      }

      .dot.active {
        background-color: #3aff16;
      }
    }

    .completed-caption {
      color: #fff;

      .image {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .completed-img {
          width: 30%;
          height: 30%;
        }
      }

      .completed-heading {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      .completed-subtext {
        font-size: 1vw;
        color: #ffffff;
        line-height: 1.5;
        width: 75%;
        margin: 0 auto;
      }

      .redirecting {
        font-size: 25px;
        color: #ffffff;
        margin-top: 1rem;
      }
    }
  }
}

// Landing Page Styling
.navbar {
  width: 100%;
  padding: 0.25vw 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .NavLinks {
    display: flex;
    align-items: center;
    gap: 2vw;

    .links {
      font-size: 1vw;
      font-weight: 500;
      text-decoration: none;
      color: black;
    }

    .signUpBtn {
      padding: 0.5vw 2vw;
      background-color: #3aff16;
      border-radius: 0.5vw;
    }
  }

  .mobile-tablet-Navlink {
    display: none;
  }
}

.slidingHeroSection {
  width: 100%;
  height: 25vw;
  // All Swiper class based styles are taken from swiper docs
  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background-color: rgb(0, 0, 0);
    transition: all 0.3s ease; /* Smooth transition for size change */
  }

  .swiper-pagination-bullet-active {
    width: 15px; /* Larger size for active bullet */
    height: 15px;
    background-color: White; /* Optionally change color */
    transform: scale(1.2); /* Optional: Add scaling effect */
    transition: width 0.3s ease, height 0.3s ease, background-color 0.3s ease;
  }

  // Self created class Styling
  .image {
    width: 100%;
    height: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .overlay {
    position: absolute;

    width: 100%;
    height: 25vw;
    z-index: 3;
    background-color: rgba(0, 57, 118, 0.25);
    color: white;

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    gap: 2vw;
    // border: 1px solid;

    padding: 5vw 0;
    h1 {
      font-size: 3vw;
      font-family: "Lato";
    }

    p {
      // border: 1px solid;
      width: 60%;
      font-size: 2vw;
      font-family: "Lato";
      font-weight: 100;
    }

    .buttons {
      // border: 1px solid;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2vw;
      margin-top: 3vw;
      button {
        font-size: 1vw;
        padding: 0.5vw 1.5vw;
        border: none;
        border-radius: 0.5vw;
        color: #001f3f;
        display: flex;
        align-items: center;
        gap: 0.5vw;

        .rightArrow {
          font-size: 1.25vw;
          font-weight: 900;
        }
      }

      .signUp {
        background-color: #3aff16;
        transition: 0.3s ease;
        border: 1px solid #3aff16; //added this because while overing size is increasing and decreasing due which buttons are moving slightly
      }
      .signUp:hover {
        color: #3aff16;
        background-color: #001f3f;
        border: 1px solid #3aff16;
      }

      .signIn {
        background-color: #001f3f;
        color: #3aff16;
        border: 1px solid #3aff16;
        transition: 0.3s ease;
      }
      .signIn:hover {
        color: #001f3f;
        background-color: #3aff16;
      }
    }
  }
}

.heroSection {
  width: 100%;
  // height: 91.45vh;
  padding: 1vw;
  background-color: #001f3f;

  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    width: 70vw;
    // height: 43vw;
    // background-color: white;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2vw;
    // border: 1px solid red;
    justify-content: center;
    align-items: center;

    h1 {
      text-align: center;
      font-size: 2.25vw;
      font-weight: 500;
      color: #3aff16;
      // border: 1px solid red;
    }

    .multipleCards {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1vw;
      padding: 0 1.75vw;
      color: black;
      // border: 1px solid;

      .cards {
        border: 0.35vw solid #3aff16;
        width: 16vw;
        height: 12vw;
        background-color: white;
        // border-radius: 1vw;

        margin-left: 1vw;
        margin-bottom: 1vw;

        padding: 0.25vw 0;

        .cardImage {
          text-align: center;

          h1 {
            font-size: 1.25vw;
            font-weight: 600;
            color: #001f3f;
            padding: 0 1vw;
          }
        }

        .cardContent {
          margin: 0.5vw;

          // border: 1px solid;
          justify-content: center;
          align-items: center;
          p {
            width: 100%;
            font-size: 0.8vw;
            text-align: center;
            font-style: italic;
            opacity: 0.6;
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  // height: 15vw;
  background-color: #001f3f;
  border-top: 2px solid #3a526f; //newly added
  color: white;

  padding: 0vw 0vw;

  .footer-top-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    // border: 1px solid;
    padding: 1vw 5vw;
    .footer-logo {
      width: 100%;
      img {
        width: 10vw;
      }
    }

    .footer-service {
      width: 50%;
      // border: 1px solid;
      padding: 0.5vw 1vw;

      display: flex;
      flex-direction: column;
      gap: 1vw;
    }

    .footer-company {
      width: 30%;
      // border: 1px solid;
      padding: 0.5vw 1vw;

      display: flex;
      flex-direction: column;
      gap: 1vw;
    }

    .footer-contact {
      width: 50%;
      // border: 1px solid;
      padding: 0.5vw 1vw;

      display: flex;
      flex-direction: column;
      gap: 1vw;

      .details {
        display: flex;
        align-items: center;
        gap: 0.5vw;
      }
      .callIcon {
        color: #3aff16;
        border: 1px solid #3aff16;
        padding: 0.25vw;
        font-size: 1.25vw;
        border-radius: 100%;
      }

      .locationIcon {
        font-size: 1.25vw;
        color: #3aff16;
      }
    }

    .footer-links {
      display: flex;
      flex-direction: column;
      gap: 0.25vw;

      p {
        opacity: 0.7;
      }
    }
    p:hover {
      // color: white;
      opacity: 1;
      scale: 1.05;
    }
  }

  hr {
    opacity: 0.7;
  }

  .footer-bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    border-top: 2px solid #3a526f; //newly added
  }
}
