@media (max-width: 767px) {
  body {
    position: relative;
  }
  .signUpPage .overlay .left-div {
    display: none;
  }
  .signUpPage .overlay .right-div {
    padding: initial;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .signUpPage .overlay .right-div .card {
    width: 75%;
    height: 70vh;
    border-radius: 4vw;
  }
  .signUpPage .overlay .right-div .card .circle {
    width: 26vw;
    height: 26vw;
    top: -14.5vw;
    left: 34%;
  }
  .signUpPage .overlay .right-div .card .details {
    width: 80%;
    height: 50vh;
    padding: 2vw 0;
    gap: 4vw;
  }
  .signUpPage .overlay .right-div .card .details h1 {
    font-size: 5vw;
  }
  .signUpPage .overlay .right-div .card .details .steps .singleStep h1 {
    padding: 2vw 2.75vw;
    font-size: 3vw;
    font-weight: 100;
  }
  .signUpPage .overlay .right-div .card .details .steps .singleStep P {
    margin-top: 1.75vw;
    font-size: 2.75vw;
  }
  .signUpPage .overlay .right-div .card .details .steps .singleStep .activeStep {
    scale: 1.2;
  }
  .signUpPage .overlay .right-div .card .details form {
    margin-top: 3.5vw;
  }
  .signUpPage .overlay .right-div .card .details form .multi-inputs {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-top: -6.5vw;
  }
  .signUpPage .overlay .right-div .card .details form .input-wrapper {
    margin-top: 2.5vw;
  }
  .signUpPage .overlay .right-div .card .details form .label, .signUpPage .overlay .right-div .card .details form .email-label {
    margin-bottom: 1.75vw;
    font-size: 3.5vw;
  }
  .signUpPage .overlay .right-div .card .details form .otpLabel {
    text-align: center;
    margin-left: 0vw;
    font-size: 2.9vw;
  }
  .signUpPage .overlay .right-div .card .details form .email-label {
    width: 100%;
    display: flex;
    align-items: initial;
    justify-content: initial;
  }
  .signUpPage .overlay .right-div .card .details form .otpResendTimer {
    color: red;
  }
  .signUpPage .overlay .right-div .card .details form .otpResendLabel, .signUpPage .overlay .right-div .card .details form .otpResendTimer {
    margin-top: 5vw;
    font-size: 3.25vw;
  }
  .signUpPage .overlay .right-div .card .details form .otpResendLabel span, .signUpPage .overlay .right-div .card .details form .otpResendTimer span {
    font-size: 3.5vw;
  }
  .signUpPage .overlay .right-div .card .details form .input-field {
    font-size: 3.25vw;
    width: 100%;
    padding: 2.5vw 1.5vw;
    border: 1px solid #ddd;
    border-radius: 2vw;
    box-shadow: 0px 0px 2px gray;
    outline: none;
    transition: border-color 0.3s ease;
    margin-bottom: 0.75vw;
    position: relative;
  }
  .signUpPage .overlay .right-div .card .details form #eye-icon {
    top: 70%;
    font-size: 6.25vw;
    transform: translateY(-50%);
  }
  .signUpPage .overlay .right-div .card .details form .errorMessage {
    font-size: 2.75vw;
    margin-top: 0.75vw;
    margin-bottom: -2vw;
  }
  .signUpPage .overlay .right-div .card .details form .button {
    font-size: 3vw;
    border-radius: 1.5vw;
    padding: 2.5vw 8vw;
    margin-top: 6vw;
  }
  .signUpPage .overlay .right-div .card .details .otp-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .signUpPage .overlay .right-div .card .details .otp-container .otp-input {
    margin-top: 3vw;
    padding: 2.5vw;
    border-radius: 1.5vw;
    box-shadow: 0px 3px 2px gray;
    text-align: center;
  }
  .signUpPage .overlay .right-div .card .details .otp-container .otp-input:focus {
    box-shadow: 0px 3px 2px #3aff16;
  }
  .signUpPage .overlay .right-div .card .details .page-details {
    gap: 1vw;
    margin-top: 2vw;
  }
  .signUpPage .overlay .right-div .card .details .page-details .domain-heading {
    font-size: 3.75vw;
    margin-bottom: 1vw;
  }
  .signUpPage .overlay .right-div .card .details .page-details .domain-para1 {
    font-size: 2.5vw;
    scale: 1.1;
  }
  .signUpPage .overlay .right-div .card .details .page-details .domain-para2 {
    font-size: 2.25vw;
    scale: 1.1;
  }
  .signUpPage .overlay .right-div .card .details #domain-container {
    padding-bottom: 4vw;
  }
  .navbar .image {
    width: 20vw;
  }
  .navbar .image img {
    width: 100%;
  }
  .navbar .NavLinks {
    display: none;
  }
  .navbar .mobile-tablet-Navlink {
    display: initial;
    /* Active state for showing the menu */
  }
  .navbar .mobile-tablet-Navlink .menu-icon {
    display: inline-block;
    opacity: 0;
    transform: scale(0.9); /* Slightly smaller */
    transition: all 0.3s ease;
  }
  .navbar .mobile-tablet-Navlink .menu-icon.open {
    opacity: 1;
    transform: scale(1); /* Full size */
  }
  .navbar .mobile-tablet-Navlink .menu-icon.close {
    opacity: 1;
    transform: scale(0.9); /* Fade and shrink */
    pointer-events: none; /* Prevent interaction during transition */
  }
  .navbar .mobile-tablet-Navlink .mobile-tablet-menu-page {
    position: absolute;
    width: 100%;
    height: 50vw;
    z-index: 9;
    top: 9vw;
    left: 0;
    background-color: #ffffff;
    /* Initial hidden state */
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none; /* Prevent interaction when hidden */
    /* Smooth transition for transform and opacity */
    transition: transform 0.3s ease-in-out, opacity 0.4s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    padding: 1vw 3vw;
  }
  .navbar .mobile-tablet-Navlink .mobile-tablet-menu-page h1 {
    font-size: 3.5vw;
    letter-spacing: 0.25vw;
    color: #001f3f;
  }
  .navbar .mobile-tablet-Navlink .mobile-tablet-menu-page .Services {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
  }
  .navbar .mobile-tablet-Navlink .mobile-tablet-menu-page .Services p {
    font-size: 3.25vw;
    padding: 0 4vw;
    opacity: 0.75;
  }
  .navbar .mobile-tablet-Navlink .mobile-tablet-menu-page.active {
    transform: translateY(0); /* Slide into view */
    opacity: 1; /* Fully visible */
    pointer-events: all; /* Enable interaction */
  }
  .slidingHeroSection {
    height: 50vw;
  }
  .slidingHeroSection .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
  .slidingHeroSection .swiper-pagination-bullet-active {
    width: 12px;
    height: 12px;
    transform: scale(1.2);
  }
  .slidingHeroSection .overlay {
    height: 100%;
    padding: 10vw 0;
  }
  .slidingHeroSection .overlay h1 {
    font-size: 5vw;
    font-weight: 500;
  }
  .slidingHeroSection .overlay p {
    width: 80%;
    font-size: 3vw;
  }
  .slidingHeroSection .overlay .buttons {
    margin-top: 6vw;
  }
  .slidingHeroSection .overlay .buttons button {
    font-size: 4vw;
    padding: 1vw 5vw;
    border-radius: 0.75vw;
    gap: 1vw;
  }
  .slidingHeroSection .overlay .buttons button .rightArrow {
    font-size: 4vw;
  }
  .slidingHeroSection .overlay .buttons .signIn {
    border: 1px solid #3aff16;
  }
  .heroSection {
    padding: 5vw;
  }
  .heroSection .content {
    gap: 5vw;
  }
  .heroSection .content h1 {
    font-size: 5vw;
  }
  .heroSection .content .multipleCards {
    gap: 4vw;
  }
  .heroSection .content .multipleCards .cards {
    border: 0.75vw solid #3aff16;
    width: 50vw;
    height: 40vw;
    padding: 2vw 0;
  }
  .heroSection .content .multipleCards .cards .cardImage {
    text-align: center;
  }
  .heroSection .content .multipleCards .cards .cardImage img {
    width: 12vw;
  }
  .heroSection .content .multipleCards .cards .cardImage h1 {
    font-size: 4vw;
    padding: 0 3vw;
  }
  .heroSection .content .multipleCards .cards .cardContent {
    margin: 1vw;
  }
  .heroSection .content .multipleCards .cards .cardContent p {
    font-size: 3vw;
  }
  footer {
    padding: 2vw 0vw;
  }
  footer .footer-top-container {
    display: flex;
    flex-direction: column;
    justify-content: initial;
    gap: 2vw;
  }
  footer .footer-top-container .footer-logo img {
    width: 25vw;
  }
  footer .footer-top-container .footer-service {
    width: 100%;
    gap: 2vw;
  }
  footer .footer-top-container .footer-service h1 {
    font-size: 5vw;
  }
  footer .footer-top-container .footer-company {
    width: 100%;
    gap: 2vw;
  }
  footer .footer-top-container .footer-company h1 {
    font-size: 5vw;
  }
  footer .footer-top-container .footer-contact {
    width: 100%;
    gap: 2vw;
  }
  footer .footer-top-container .footer-contact h1 {
    font-size: 5vw;
  }
  footer .footer-top-container .footer-contact .details {
    gap: 2vw;
  }
  footer .footer-top-container .footer-contact .callIcon {
    padding: 0.5vw;
    font-size: 5vw;
  }
  footer .footer-top-container .footer-contact .locationIcon {
    font-size: 6vw;
  }
  footer .footer-top-container .footer-links {
    gap: 1vw;
  }
  footer .footer-bottom-container {
    padding: 4vw;
  }
}/*# sourceMappingURL=mobileView.css.map */