@media (max-width: 767px) {
  body {
    position: relative;
  }

  .signUpPage {
    .overlay {
      .left-div {
        display: none; //updated
      }

      .right-div {
        padding: initial; //updated
        display: flex; ///updated

        align-items: center; //updated
        justify-content: center; //updated

        .card {
          width: 80%; //updated
          height: 75vh; //udpated
          border-radius: 4vw; //updated

          .circle {
            width: 26vw; //updated
            height: 26vw; //updated

            top: -14.5vw; //adjusted
            left: 34%; //adjusted
          }

          .details {
            width: 80%; //updated
            height: 55vh; //udpated
            padding: 0vw 0; //updated

            gap: 4vw; //updated

            // border: 1px solid red;
            h1 {
              font-size: 5.25vw; //updated
            }

            .steps {
              .singleStep {
                h1 {
                  padding: 2vw 3vw; //updated

                  font-size: 4vw; //updatd
                  font-weight: 500; //updated
                }

                P {
                  margin-top: 3.5vw; //updated
                  font-size: 3vw; //updated
                  opacity: 0.6;
                }

                .activeStep {
                  scale: 1.2; //updated
                }
              }
            }

            form {
              margin-top: 4.5vw; //updated
              .multi-inputs {
                flex-direction: column; //updated
                margin-top: -3.5vw; //updated for Adjustment purpose because form already has margin
              }

              .input-wrapper {
                .label {
                  margin-bottom: 3.75vw; //updated
                  font-size: 4vw; //updated
                  .imp {
                    top: 40%; //updated
                  }
                }

                .otp-label {
                  @extend .label;
                  font-size: 3vw; //adjusted
                }

                .otpResendTimer {
                  font-size: 4vw;
                }

                .otpResendLabel {
                  width: 100%; //newly added
                  margin: 6vw 0; //updated
                  font-size: 3.5vw; //updated

                  span {
                    font-size: 3.75vw; //updated
                  }
                }

                .otp-container {
                  .otp-input {
                    font-size: 3vw; //updated
                    padding: 2.5vw; //updated
                    border-radius: 1.5vw; //updated
                    box-shadow: 0px 3px 2px gray; //updated
                  }
                }

                .input-field {
                  font-size: 3.5vw; //updated
                  padding: 1.5vw; //updated
                  border-radius: 2vw; //updated
                }

                #eye-icon {
                  top: 45%; //updated
                  font-size: 5.25vw; //updated
                }

                .errorMessage {
                  height: 1rem; /* Reserve space for the error message */ //updated
                  font-size: 3.5vw; //updated
                  margin-top: 0.5vw; //Adjusted to look better  //udpated
                }
              }

              .alignButton {
                margin-top: 3.5vw; //updated
                .button {
                  font-size: 3.5vw; //updated
                  font-weight: 500; //newly added
                  border-radius: 2.25vw; //updated
                  padding: 3vw 10vw; //updated
                }
              }
            }

            .page-details {
              gap: 1vw; //udpated
              margin-top: 2vw; //updated
              .domain-heading {
                font-size: 3.75vw; //update
                margin-bottom: 1vw;
              }

              .domain-para1 {
                font-size: 2.5vw; //udpated
                scale: 1.1; //updated
              }
              .domain-para2 {
                font-size: 2.25vw; //updated
                scale: 1.1; //updated
              }
            }
          }
        }
      }
    }
  }

  .navbar {
    // newly added
    .image {
      width: 20vw;
      img {
        width: 100%;
      }
    }

    .NavLinks {
      display: none; //Newly Added for Mobile View
    }

    .mobile-tablet-Navlink {
      display: initial;

      .menu-icon {
        display: inline-block;
        opacity: 0;
        transform: scale(0.9); /* Slightly smaller */
        transition: all 0.3s ease;
      }

      .menu-icon.open {
        opacity: 1;
        transform: scale(1); /* Full size */
      }

      .menu-icon.close {
        opacity: 1;
        transform: scale(0.9); /* Fade and shrink */
        pointer-events: none; /* Prevent interaction during transition */
      }

      .mobile-tablet-menu-page {
        position: absolute;
        width: 100%;
        height: 50vw;
        z-index: 9;

        top: 9vw;
        left: 0;

        background-color: #ffffff;

        /* Initial hidden state */
        transform: translateY(-100%);
        opacity: 0;
        pointer-events: none; /* Prevent interaction when hidden */

        /* Smooth transition for transform and opacity */
        transition: transform 0.3s ease-in-out, opacity 0.4s ease-in-out;

        display: flex;
        flex-direction: column;
        gap: 1vw;

        padding: 1vw 3vw;

        h1 {
          font-size: 3.5vw;
          letter-spacing: 0.25vw;
          color: #001f3f;
        }

        .Services {
          display: flex;
          flex-direction: column;
          gap: 0.5vw;

          p {
            font-size: 3.25vw;
            padding: 0 4vw;
            opacity: 0.75;
          }
        }
      }

      /* Active state for showing the menu */
      .mobile-tablet-menu-page.active {
        transform: translateY(0); /* Slide into view */
        opacity: 1; /* Fully visible */
        pointer-events: all; /* Enable interaction */
      }
    }
  }

  .slidingHeroSection {
    height: 50vw; //updated

    .swiper-pagination-bullet {
      width: 12px; //updated
      height: 12px; //updated
    }

    .swiper-pagination-bullet-active {
      width: 12px; //updated /* Larger size for active bullet */
      height: 12px; //updated
      transform: scale(1.2); //updated /* Optional: Add scaling effect */
    }

    .overlay {
      height: 100%;

      padding: 10vw 0; //updated
      h1 {
        font-size: 5vw; //updated
        font-weight: 500; //updated
      }

      p {
        width: 80%; //updated
        font-size: 3vw; //Updated
      }

      .buttons {
        margin-top: 6vw; //udpated
        button {
          font-size: 4vw; //updated
          padding: 1vw 5vw; //updated
          border-radius: 0.75vw; //updated
          gap: 1vw; //updated

          .rightArrow {
            font-size: 4vw; //updated
          }
        }
      }
    }
  }

  .heroSection {
    padding: 5vw; //updated

    .content {
      gap: 5vw; //udpated

      h1 {
        font-size: 5vw; //updated
      }

      .multipleCards {
        gap: 4vw; //updated

        .cards {
          border: 0.75vw solid #3aff16; //updated
          width: 50vw; //updated
          height: 40vw; //udpated
          padding: 2vw 0;

          .cardImage {
            text-align: center;

            img {
              width: 12vw; //updated
            }

            h1 {
              font-size: 4vw; //udpated
              padding: 0 3vw; //updated
            }
          }

          .cardContent {
            margin: 1vw; //updated
            p {
              font-size: 3vw; //updated
            }
          }
        }
      }
    }
  }

  footer {
    padding: 2vw 0vw; //udpated
    .footer-top-container {
      // width: 100%;
      display: flex;
      flex-direction: column; //newly added for mobile view
      justify-content: initial; //udpated

      gap: 2vw; //newly added
      .footer-logo {
        img {
          width: 25vw; //udpated
        }
      }

      .footer-service {
        width: 100%; //udpated
        gap: 2vw; //udpated

        h1 {
          font-size: 5vw; //updated
        }
      }

      .footer-company {
        width: 100%; //udpated
        gap: 2vw; //udpated

        h1 {
          font-size: 5vw; //updated
        }
      }

      .footer-contact {
        width: 100%; //udpated
        gap: 2vw; //udpated

        h1 {
          font-size: 5vw; //updated
        }

        .details {
          gap: 2vw; //udpated
        }
        .callIcon {
          padding: 0.5vw; //udpated
          font-size: 5vw; //udpated
        }

        .locationIcon {
          font-size: 6vw; //updated
        }
      }

      .footer-links {
        gap: 1vw;
      }
    }

    .footer-bottom-container {
      padding: 4vw; //updated
    }
  }
}
