@media (min-width: 768px) and (max-width: 1024px) {
  .signUpPage {
    .overlay {
      .left-div {
        display: none; //updated
      }

      .right-div {
        padding: initial; //updated
        display: flex; ///updated

        align-items: center; //updated
        justify-content: center; //updated

        .card {
          width: 80%; //updated
          height: 82vh; //udpated
          border-radius: 4vw; //updated

          .circle {
            width: 20vw; //updated
            height: 20vw; //updated

            transform: translate(0%, -41.5vh);
          }

          .details {
            width: 80%; //updated
            height: 70vh; //udpated
            padding: 2vw 0; //updated

            gap: 3vw; //updated
            h1 {
              font-size: 5vw; //updated
            }

            .steps {
              .singleStep {
                h1 {
                  padding: 2vw 3vw; //updated

                  font-size: 3vw; //updated for tabletview
                  font-weight: 500; //updated
                }

                P {
                  margin-top: 2.5vw; //updated  //udpated
                  font-size: 2.5vw; //updated  //udpated
                  opacity: 0.6;
                }

                .activeStep {
                  scale: 1.1; //updated  //updated
                }
              }
            }

            form {
              margin-top: 4.5vw; //updated
              .multi-inputs {
                flex-direction: column; //updated
                margin-bottom: -2vw;
                gap: 0vw;
                // border: 1px solid;
                // margin-top: -3.5vw; //updated for Adjustment purpose because form already has margin
              }

              .input-wrapper {
                margin-top: 1vw;
                .label {
                  margin-bottom: 2vw; //updated
                  font-size: 3vw; //updated
                  .imp {
                    top: 35%; //updated
                  }
                  .detail-pass-imp {
                    @extend .imp;
                    top: 22%;
                  }
                }

                .label.email-label {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  margin-bottom: 3vw;

                  .imp {
                    top: 40%;
                  }
                }

                .otp-label {
                  @extend .label;
                  font-size: 3.25vw; //adjusted
                }

                .otpResendTimer {
                  font-size: 3vw;
                }

                .otpResendLabel {
                  width: 100%; //newly added
                  margin: 6vw 0; //updated
                  font-size: 3vw; //updated

                  span {
                    font-size: 3.25vw; //updated
                    font-weight: 500;
                  }
                }

                .otpResendLabel.activeResendLabel {
                  color: #1082ff;
                  cursor: pointer;
                  // textDecoration: resendVisible ? "underline" : "none",
                  text-decoration: none;
                  pointer-events: auto;
                  text-align: center;
                  font-size: 4vw;
                }

                .otpResendLabel.inActiveResendLabel {
                  color: gray;
                  cursor: not-allowed;
                  pointer-events: none;
                  text-align: center;
                  font-size: 4vw;
                }

                .otp-container {
                  gap: 3vw;
                  .otp-input {
                    padding: 2.5vw; //updated
                    border-radius: 1.5vw; //updated
                    box-shadow: 0px 3px 2px gray; //updated
                    font-size: 2.75vw; //newly added for tabletview
                  }
                }

                .input-field {
                  font-size: 2.75vw; //updated
                  padding: 1vw; //updated
                  border-radius: 1vw; //updated
                }

                #eye-icon {
                  top: 25%; //updated
                  font-size: 3.75vw; //updated
                }

                .validation-checklist {
                  font-size: 2vw;
                }
                .errorMessage {
                  height: 2rem; /* Reserve space for the error message */ //updated
                  font-size: 2.25vw; //updated
                  margin-top: 0vw; //Adjusted to look better  //udpated
                }
              }

              .multi-inputs.detail-input-wrapper {
                margin-top: -4vw;
              }

              .input-wrapper.detail-input-wrapper {
                margin-top: 1vw;
              }

              .input-wrapper.email-container {
                margin-top: 5%;
              }

              .alignButton {
                margin-top: 4.5vw; //updated
                .button {
                  font-size: 2.5vw; //updated
                  font-weight: 500; //newly added
                  border-radius: 1.25vw; //updated
                  padding: 2vw 6vw; //updated
                }
              }
            }

            .page-details {
              gap: 1vw; //udpated
              margin-top: 2vw; //updated
              .domain-heading {
                font-size: 3.75vw; //update
                margin-bottom: 1vw;
              }

              .domain-para1 {
                font-size: 2.5vw; //udpated
                scale: 1.1; //updated
              }
              .domain-para2 {
                font-size: 2.25vw; //updated
                scale: 1.1; //updated
              }
            }
          }
        }
      }
    }
  }

  // Loader Screen
  .csite-container {
    width: 100vw; //updated
    height: 100vh; //updated

    .csite-content {
      width: 100vw; //updated
      height: 100vh;
      padding: 12vw 9vw; //updated
      text-align: center; //updated
      display: flex; //updated
      flex-direction: column; //updated
      align-items: center; //newly added
      justify-content: center; //newly added
      gap: 4vw; //updated
      font-size: initial; //updated

      h2 {
        font-size: 5vw; //updated
      }
      .subtitle {
        font-size: 4vw; //updated
        margin-bottom: 1.2rem;
      }

      .progress {
        width: 100%;
        .progress-bar {
          width: 100%; //updated
        }

        .progress-status-wrapper {
          width: 80vw; //uppdated
          margin-top: 1vw; //updated

          .progress-status {
            font-size: 3vw;
          }
        }
      }

      .small-note {
        font-size: 3.5vw; //updated
      }
      .completed-status-line {
        font-size: 5vw; //updated
        gap: 2vw; //updated
        display: flex; //updated
        align-items: center; //updated

        .tick-icon {
          width: 5vw;
          height: 5vw;
        }
      }

      .slide-wrapper {
        .slide-content {
          .image-slider {
            width: 100%;
            position: relative;
            .arrow {
              font-size: 6vw; //updated
              padding: 0 0px; //updated
            }

            .left {
              position: absolute;
              left: 5%;
              top: 50%;
            }

            .right {
              position: absolute;
              right: 5%;
              top: 50%;
            }

            .slide-img {
              width: 75%;
              height: 75%;
              margin-top: 0vw; //updated
            }
          }

          .slide-caption {
            width: 100%;
            .slide-text {
              font-size: 5vw;
            }

            .slide-subtext {
              width: 100%;
              font-size: 3vw;
            }
          }
        }
      }

      .completed-caption {
        width: 100%;
        .image {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;

          .completed-img {
            width: 50%;
            height: 50%;
          }
        }

        .completed-heading {
          font-size: 6vw;
        }

        .completed-subtext {
          font-size: 3vw;
          color: #ffffff;
          line-height: 1.5;
        }

        .redirecting {
          font-size: 4vw;
        }
      }
    }
  }

  .navbar {
    width: 100%;
    padding: 0.25vw 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .image {
      width: 20vw;
      img {
        width: 100%;
      }
    }

    .NavLinks {
      display: none; //Newly Added for Mobile View
    }

    .mobile-tablet-Navlink {
      display: initial;

      .menu-icon {
        display: inline-block;
        opacity: 0;
        transform: scale(0.9); /* Slightly smaller */
        transition: all 0.3s ease;
        font-size: 4vw;
      }

      .menu-icon.open {
        opacity: 1;
        transform: scale(1); /* Full size */
      }

      .menu-icon.close {
        opacity: 1;
        transform: scale(0.9); /* Fade and shrink */
        pointer-events: none; /* Prevent interaction during transition */
      }

      .mobile-tablet-menu-page {
        position: absolute;
        width: 100%;
        height: 52vw;
        z-index: 9;

        top: 8vw;
        left: 0;

        background-color: #ffffff;

        /* Initial hidden state */
        transform: translateY(-100%);
        opacity: 0;
        pointer-events: none; /* Prevent interaction when hidden */

        /* Smooth transition for transform and opacity */
        transition: transform 0.3s ease-in-out, opacity 0.4s ease-in-out;

        display: flex;
        flex-direction: column;
        gap: 1vw;

        padding: 1vw 3vw;

        h1 {
          font-size: 3.5vw;
          letter-spacing: 0.25vw;
          color: #001f3f;
        }

        .Services {
          display: flex;
          flex-direction: column;
          gap: 0.5vw;

          p {
            font-size: 3.25vw;
            padding: 0 4vw;
            opacity: 0.75;
          }
        }
      }

      /* Active state for showing the menu */
      .mobile-tablet-menu-page.active {
        transform: translateY(0); /* Slide into view */
        opacity: 1; /* Fully visible */
        pointer-events: all; /* Enable interaction */
      }
    }
  }

  .slidingHeroSection {
    height: 50vw; //updated

    .swiper-pagination-bullet {
      width: 12px; //updated
      height: 12px; //updated
    }

    .swiper-pagination-bullet-active {
      width: 12px; /* Larger size for active bullet */
      height: 12px;
    }

    .overlay {
      height: 100%;
      gap: 2vw;
      padding: 10vw 0;
      h1 {
        font-size: 5vw; //updated
        font-weight: 500; //updated
      }

      p {
        width: 80%; //updated
        font-size: 3vw; //Updated
      }

      .buttons {
        gap: 2vw;
        margin-top: 6vw; //udpated
        button {
          font-size: 3vw; //updated
          padding: 0.75vw 4vw; //updated
          border-radius: 1vw; //updated
          gap: 1vw;

          .rightArrow {
            font-size: 4vw;
          }
        }
      }
    }
  }

  .heroSection {
    padding: 5vw;
    .content {
      width: 100vw; //updated for tablet view
      gap: 5vw; //udpated

      h1 {
        font-size: 5vw; //updated
      }

      .multipleCards {
        gap: 4vw;

        .cards {
          border: 0.75vw solid #3aff16; //updated
          width: 40vw; //updated
          height: 35vw; //udpated
          padding: 1vw 0;

          .cardImage {
            img {
              width: 10vw; //updated for table view
            }

            h1 {
              font-size: 3vw; //udpated
            }
          }

          .cardContent {
            padding: 2vw 0; //newly added
            p {
              font-size: 2.5vw; //udpated
            }
          }
        }
      }
    }
  }

  footer {
    padding: 2vw 0vw; //udpated
    .footer-top-container {
      flex-direction: column; //newly added for mobile view
      justify-content: initial; //udpated

      gap: 2vw; //newly added
      padding: 1vw 5vw;
      .footer-logo {
        img {
          width: 25vw; //udpated
        }
      }

      .footer-service {
        width: 100%; //udpated
        gap: 2vw; //udpated

        h1 {
          font-size: 4vw; //updated
        }
      }

      .footer-company {
        width: 100%; //udpated
        gap: 2vw; //udpated

        h1 {
          font-size: 4vw; //updated
        }
      }

      .footer-contact {
        width: 100%; //udpated
        gap: 2vw; //udpated

        h1 {
          font-size: 4vw; //updated
        }

        .details {
          gap: 2vw; //udpated
        }
        .callIcon {
          padding: 0.5vw; //udpated
          font-size: 4vw; //udpated
        }

        .locationIcon {
          font-size: 4vw; //updated
        }
      }

      .footer-links {
        gap: 1vw;
      }
      p:hover {
        scale: 1.05;
      }
    }

    .footer-bottom-container {
      padding: 4vw; //updated
    }
  }
}
