@media (max-width: 767px) {
  .signUpPage {
    .overlay {
      .left-div {
        display: none; //updated
      }

      .right-div {
        padding: initial; //updated
        display: flex; ///updated

        align-items: center; //updated
        justify-content: center; //updated

        .card {
          width: 75%; //updated
          height: 70vh; //udpated
          border-radius: 4vw; //updated

          .circle {
            width: 26vw; //updated
            height: 26vw; //updated

            top: -14.5vw; //adjusted
            left: 34%; //adjusted
          }

          .details {
            width: 80%; //updated
            height: 50vh; //udpated
            padding: 2vw 0; //updated

            gap: 4vw; //updated
            h1 {
              font-size: 5vw; //updated
            }

            .steps {
              .singleStep {
                h1 {
                  padding: 2vw 2.75vw; //updated

                  font-size: 3vw; //updatd
                  font-weight: 100; //updated
                }

                P {
                  margin-top: 1.75vw; //updated
                  font-size: 2.75vw; //updated
                }

                .activeStep {
                  scale: 1.2; //updated
                }
              }
            }

            form {
              margin-top: 3.5vw; //updated

              .multi-inputs {
                display: flex; //updated
                flex-direction: column; //updated
                gap: 1vw; //updated

                margin-top: -6.5vw; //updated
              }

              .input-wrapper {
                margin-top: 2.5vw; //updated
              }

              .label {
                margin-bottom: 1.75vw; //updated
                font-size: 3.5vw; //updated
              }

              .otpLabel {
                text-align: center; //newly added for mobile view
                margin-left: 0vw; //updated
                font-size: 2.9vw; //updated
              }

              .email-label {
                @extend .label;
                width: 100%;
                display: flex;
                align-items: initial; //updated
                justify-content: initial; //updated
              }

              .otpResendTimer {
                @extend .otpResendLabel;
                color: red;
              }

              .otpResendLabel {
                margin-top: 5vw; //updated
                font-size: 3.25vw; //updated

                span {
                  font-size: 3.5vw; //updated
                }
              }

              .input-field {
                font-size: 3.25vw; //updated
                width: 100%;
                padding: 2.5vw 1.5vw; //updated
                border: 1px solid #ddd;
                border-radius: 2vw;
                box-shadow: 0px 0px 2px gray;
                outline: none;
                transition: border-color 0.3s ease;
                margin-bottom: 0.75vw;
                position: relative;
              }

              #eye-icon {
                top: 70%; //updated
                font-size: 6.25vw; //updated
                transform: translateY(-50%); //newly added
              }

              .errorMessage {
                font-size: 2.75vw; //updated
                margin-top: 0.75vw; //updated //Adjusted to look better
                margin-bottom: -2vw;
              }

              .button {
                font-size: 3vw; //updated
                border-radius: 1.5vw; //updated
                padding: 2.5vw 8vw; //updated
                margin-top: 6vw; //updated
              }
            }

            .otp-container {
              // gap: 5vw; //updated
              display: flex;
              justify-content: space-evenly;
              align-items: center;
              // border: 1px solid;
              .otp-input {
                margin-top: 3vw; //updated
                padding: 2.5vw; //updated
                border-radius: 1.5vw; //updated
                box-shadow: 0px 3px 2px gray;

                text-align: center;
              }
              .otp-input:focus {
                box-shadow: 0px 3px 2px #3aff16; //updated // shadow on input field
              }
            }

            .page-details {
              gap: 1vw; //udpated
              margin-top: 2vw; //updated
              .domain-heading {
                font-size: 3.75vw; //update
                margin-bottom: 1vw;
              }

              .domain-para1 {
                font-size: 2.5vw; //udpated
                scale: 1.1; //updated
              }
              .domain-para2 {
                font-size: 2.25vw; //updated
                scale: 1.1; //updated
              }
            }

            #domain-container {
              padding-bottom: 4vw;
            }
          }
        }
      }
    }
  }

  .navbar {
    // newly added
    .image {
      width: 20vw;
      img {
        width: 100%;
      }
    }

    .NavLinks {
      display: none; //Newly Added for Mobile View
    }
  }

  .slidingHeroSection {
    height: 50vw; //updated

    .swiper-pagination-bullet {
      width: 12px; //updated
      height: 12px; //updated
    }

    .swiper-pagination-bullet-active {
      width: 12px; //updated /* Larger size for active bullet */
      height: 12px; //updated
      transform: scale(1.2); //updated /* Optional: Add scaling effect */
    }

    .overlay {
      height: 100%;

      padding: 10vw 0; //updated
      h1 {
        font-size: 5vw; //updated
        font-weight: 500; //updated
      }

      p {
        width: 80%; //updated
        font-size: 3vw; //Updated
      }

      .buttons {
        margin-top: 6vw; //udpated
        button {
          font-size: 4vw; //updated
          padding: 1vw 5vw; //updated
          border-radius: 0.75vw; //updated
          gap: 1vw; //updated

          .rightArrow {
            font-size: 4vw; //updated
          }
        }

        .signIn {
          border: 1px solid #3aff16; //updated
        }
      }
    }
  }

  .heroSection {
    padding: 5vw; //updated

    .content {
      gap: 5vw; //udpated

      h1 {
        font-size: 5vw; //updated
      }

      .multipleCards {
        gap: 4vw; //updated

        .cards {
          border: 0.75vw solid #3aff16; //updated
          width: 50vw; //updated
          height: 40vw; //udpated
          padding: 2vw 0;

          .cardImage {
            text-align: center;

            img {
              width: 12vw; //updated
            }

            h1 {
              font-size: 4vw; //udpated
              padding: 0 3vw; //updated
            }
          }

          .cardContent {
            margin: 1vw; //updated
            p {
              font-size: 3vw; //updated
            }
          }
        }
      }
    }
  }

  footer {
    padding: 2vw 0vw; //udpated
    .footer-top-container {
      // width: 100%;
      display: flex;
      flex-direction: column; //newly added for mobile view
      justify-content: initial; //udpated

      gap: 2vw; //newly added
      .footer-logo {
        img {
          width: 25vw; //udpated
        }
      }

      .footer-service {
        width: 100%; //udpated
        gap: 2vw; //udpated

        h1 {
          font-size: 5vw; //updated
        }
      }

      .footer-company {
        width: 100%; //udpated
        gap: 2vw; //udpated

        h1 {
          font-size: 5vw; //updated
        }
      }

      .footer-contact {
        width: 100%; //udpated
        gap: 2vw; //udpated

        h1 {
          font-size: 5vw; //updated
        }

        .details {
          gap: 2vw; //udpated
        }
        .callIcon {
          padding: 0.5vw; //udpated
          font-size: 5vw; //udpated
        }

        .locationIcon {
          font-size: 6vw; //updated
        }
      }

      .footer-links {
        gap: 1vw;
      }
    }

    .footer-bottom-container {
      padding: 4vw; //updated
    }
  }
}
